<div class="content">
    <div class="jumbotron text-center">
        <h2>Log In</h2>
    </div>
    <form class="col-md-4 col-md-offset-4">
        <input class="form-control" ng-model="username" type="text" ng-model="username" placeholder="Username:" />

        <input class="form-control" type="password" ng-model="password" placeholder="Password:" />
        <input class="form-control" type="password" ng-model="password2" placeholder="Repeat Password:" />


        <button class="btn btn-primary" ng-click="RegisterVM.register(username,password,password2)">Log In</button>
    </form>
</div>  
